GemsWeb/GemsWeb/Service References/evmsService/EvmsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62709/EvmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/evmsService.entities" />
  <xs:complexType name="ArrayOfTupleOfRolestringRsiwEt5l">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfRolestringRsiwEt5l" nillable="true" type="tns:TupleOfRolestringRsiwEt5l" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfRolestringRsiwEt5l" nillable="true" type="tns:ArrayOfTupleOfRolestringRsiwEt5l" />
  <xs:complexType name="TupleOfRolestringRsiwEt5l">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Role" Namespace="http://schemas.datacontract.org/2004/07/evmsService.entities" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/evmsService.entities" name="m_Item1" nillable="true" type="q1:Role" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfRolestringRsiwEt5l" nillable="true" type="tns:TupleOfRolestringRsiwEt5l" />
  <xs:complexType name="ArrayOfTupleOfintstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfintstring" nillable="true" type="tns:TupleOfintstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfintstring" nillable="true" type="tns:ArrayOfTupleOfintstring" />
  <xs:complexType name="TupleOfintstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintstring" nillable="true" type="tns:TupleOfintstring" />
  <xs:complexType name="ArrayOfTupleOfParticipantstringRsiwEt5l">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfParticipantstringRsiwEt5l" nillable="true" type="tns:TupleOfParticipantstringRsiwEt5l" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfParticipantstringRsiwEt5l" nillable="true" type="tns:ArrayOfTupleOfParticipantstringRsiwEt5l" />
  <xs:complexType name="TupleOfParticipantstringRsiwEt5l">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Participant" Namespace="http://schemas.datacontract.org/2004/07/evmsService.entities" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/evmsService.entities" name="m_Item1" nillable="true" type="q2:Participant" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfParticipantstringRsiwEt5l" nillable="true" type="tns:TupleOfParticipantstringRsiwEt5l" />
</xs:schema>